main {
    width: 100%;
    border: 0px solid #444;
    display: flex;
  }

  section {
    width: 70%;
    height: 350px;
    margin-left: 15%;
    margin-right: 15%;
    border: 0px solid #F44;
  }

  section.volante {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/volante-logitech-g29.jpg');
    background-color: white;
    display:flex;
    justify-content: flex-end;
  }

  .formulario {
    width: 40%;
    height: 450px;
    border: 0px solid #44F;
    background-color: white;
    position: relative;
    margin-top: -25px;
    z-index: 10;
  }

  .formulario p {
    margin: 2px;
    padding: 2px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  .formulario input {
    width: 70%;
    height: 30px;
  }

  .formulario button {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    background-color: #CC3300;
    color: white;
  }

  .formulario .obs {
    font-size: 11px;
    margin-top: 50px;
  }

  .alert-email {
    position: absolute;
    margin-top: -100px;
    margin-left: -20px;
    width: 100%;
  }